{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
{{ value|json_script:"version-data" }}
<div class="card">
        <div class="card-header">
            <h4 class="card-title">Info</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        {% get_verbose_name webapp "title" %}
                    </th>
                    <td>
                        {% if object.title %}
                            <a href="{{ object.app_url }}">{{ object.title}}</a>
                        {% else %}
                            go create a "project-info" endpoint for <a href="{{ object.app_url }}">{{ object.app_url }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "subtitle" %}
                    </th>
                    <td>
                        {{ object.subtitle }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "description" %}
                    </th>
                    <td>
                        {{ object.description }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "purpose_en" %}
                    </th>
                    <td>
                        {{ object.purpose_en }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "author" %}
                    </th>
                    <td>
                        {{ object.author }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "app_type" %}
                    </th>
                    <td>
                        {{ object.app_type }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "base_tech" %}
                    </th>
                    <td>
                        {{ object.base_tech }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "framework" %}
                    </th>
                    <td>
                        {{ object.framework }}
                    </td>
                </tr>
                <tr id="tr_versions">
                    <th>
                        {% get_verbose_name webapp "version" %}
                    </th>
		    <td id="td_versions">
		    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name webapp "git_url" %}
                    </th>
                    <td>
                        <a href="{{ object.git_url }}">{{ object.git_url }}</a>
                    </td>
                </tr>
                {% if object.last_commit %}
                    {% if object.last_commit != "no info provided" %}
                        <tr>
                            <th>
                                {% get_verbose_name webapp "last_commit" %}
                            </th>
                            <td>
                                <a href="{{ object.last_commit }}">{{ object.last_commit }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts2 %}
{{block.super}}
<script type='text/javascript'>
	$(document).ready(function(){
		var value = eval({{object.version|safe}});
		var i;
		for (i = 0; i < value.length; i++) {
			var res = "<p>";
			res += "<b>"+value[i]['library']+"</b> v"+value[i]['version']
			if ("git" in value[i]){
				res += ", git: <a href='"+value[i]['git']+"'>"+value[i]['git']+"</a>"
			}
			res += "</p>"
			$('#td_versions').append(res);
		}

})
</script>
{% endblock scripts2 %}
